.bg-default {
  background-image: linear-gradient(to right, #00635d, #08a4bd);
};

.navbar-custom {
  background-image: linear-gradient(to right, #01172f, #00635d);
};

.tstroke {
  font-weight: 900;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #01172f;
};

.tcolor-w {
  color: white;
};

$primary: #4c212a;

@import "./node_modules/bootstrap/scss/bootstrap.scss";